<div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Pending Orders</div>
            <div class="number">42</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Positive from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales Today</div>
            <div class="number">188,847</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Positive from yesterday</span>
            </div>
          </div>
          <i class='bx bx-bar-chart cart two'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Net Profit Today</div>
            <div class="number">77,976</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Positive from yesterday</span>
            </div>
          </div>
          <i class='bx bx-coin-stack cart three'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Returns</div>
            <div class="number">63,086</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Negative From Yesterday</span>
            </div>
          </div>
          <i class='bx bx-line-chart-down cart four'></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Today Sales</div>
          <div class="sales-details">
            <ul class="details">
            <li class="topic">Customer</li>
            <li><a href="#">Ceazen Paul</a></li>
            <li><a href="#">Kriss Gallas</a></li>
            <li><a href="#">Wasley Kandi</a></li>
            <li><a href="#">Jean Vanessa</a></li>
            <li><a href="#">Sisley Patience</a></li>
            <li><a href="#">Verma Jan</a></li>
            <li><a href="#">Braque Leger</a></li>
            <li><a href="#">Renoir Auguste</a></li>
             <li><a href="#">Pablo Picasso</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Employees</li>
            <li><a href="#">Pablo Picasso</a></li>
            <li><a href="#">Renoir Auguste</a></li>
            <li><a href="#">Braque Leger</a></li>
            <li><a href="#">Verma Jan</a></li>
            <li><a href="#">Sisley Patience</a></li>
            <li><a href="#"></a>Jean Vanessa</li>
            <li><a href="#">Wasley Kandi</a></li>
             <li><a href="#">Kriss Gallas</a></li>
            <li><a href="#">Ceazen Paul</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Total</li>
            <li><a href="#">20498</a></li>
            <li><a href="#">24550</a></li>
            <li><a href="#">25880</a></li>
            <li><a href="#">17300</a></li>
            <li><a href="#">56560</a></li>
            <li><a href="#">44950</a></li>
            <li><a href="#">67330</a></li>
             <li><a href="#">23530</a></li>
             <li><a href="#">46520</a></li>
          </ul>
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Best Sales</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
                <img src="../../assets/images/tv.png" alt="">
                <span class="product">Samsung TV</span>
            </a>
            <span class="price">81100</span>
          </li>
          <li>
            <a href="#">
               <img src="../../assets/images/playstation.png" alt="">
              <span class="product">Playstation 5</span>
            </a>
            <span class="price">51585</span>
          </li>
          <li>
            <a href="#">
               <img src="../../assets/images/mac.png" alt="">
              <span class="product">Mac Air</span>
            </a>
            <span class="price">21234</span>
          </li>
          <li>
            <a href="#">
               <img src="../../assets/images/headphones.png" alt="">
              <span class="product">Sony headphones</span>
            </a>
            <span class="price">7312</span>
          </li>
          <li>
            <a href="#">
               <img src="../../assets/images/camera.png" alt="">
              <span class="product">Sony camera</span>
            </a>
            <span class="price">61456</span>
          </li>
          <li>
            <a href="#">
               <img src="../../assets/images/washing_machine.png" alt="">
              <span class="product">LG Washing Machine</span>
            </a>
            <span class="price">78440</span>
          <li>
            <a href="#">
                <img src="../../assets/images/iphone.png" alt="">
              <span class="product">Iphone 13</span>
            </a>
            <span class="price">124700</span>
          </li>
        <li>
            <a href="#">
                <img src="../../assets/images/pc.png" alt="">
              <span class="product">Dell PC</span>
          </a>
          <span class="price">12500</span>
        </li>
      </ul>
    </div>
</div>

   
-->


