input[type=text]:first-of-type{
    margin-top: 0;
}
  
  
label:first-of-type, label:nth-of-type(2){
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
.success{
    padding: 5px 10px;
    width: 100%;
    color:rgb(72, 151, 72);
    text-align:center;
    
    border-radius: 4px;
}

.success p{
    background-color:whitesmoke;
}

.success span{
    color: green;
}
label{
    color: black;
}
  
i{
    color:blue;
    font-size: 15px
  
}
  
label:first-of-type{
    margin-bottom: 5px;
}
  
.modal-content {
    width: 90%;
    max-width:  550px;
}
  
  
.separator{
    height:0.5px;
}


input{
    margin-bottom: 10px;
}