<div class="container">
  <div class="upper-section"><i class='bx bx-plus' style='color:#ffffff'></i>add employee</div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Deparment</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pablo Picasso</td>
        <td>Administration</td>
        <td>+254740226539</td> 
        <td><i class='bx bxs-edit-alt' style='color:#3e5d1a' ></i><i class='bx bxs-trash-alt' style='color:#d71212'></i><i class='bx bxs-message' style='color:#2c12d7'></i></td>
      </tr>
      <tr>
        <td>Braque Leger</td>
        <td>Human Resource</td>
        <td>+254760336098</td>
        <td><i class='bx bxs-edit-alt' style='color:#3e5d1a' ></i><i class='bx bxs-trash-alt' style='color:#d71212'></i><i class='bx bxs-message' style='color:#2c12d7'></i></td>
      </tr>
      <tr>
        <td>Renoir  Auguste</td>
        <td>Information Technology</td>
        <td>+254769006576</td>
        <td><i class='bx bxs-edit-alt' style='color:#3e5d1a' ></i><i class='bx bxs-trash-alt' style='color:#d71212'></i><i class='bx bxs-message' style='color:#2c12d7'></i></td>
      </tr>

      <tr>
        <td>Sisley Patience</td>
        <td>Customer Service</td>
        <td>+254773456809</td>
        <td><i class='bx bxs-edit-alt' style='color:#3e5d1a' ></i> <i class='bx bxs-trash-alt' style='color:#d71212'></i><i class='bx bxs-message' style='color:#2c12d7'></i></td>
      </tr>
      <tr>
        <td>Verma Jan</td>
        <td>Sales and Marketing</td>
        <td>+254740446999</td>
        <td><i class='bx bxs-edit-alt' style='color:#3e5d1a' ></i><i class='bx bxs-trash-alt' style='color:#d71212'></i><i class='bx bxs-message' style='color:#2c12d7'></i></td>
      </tr>
    </tbody>
  </table>
</div>